.Post {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 60px;
  border-color: rgb(230, 230, 230);
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
}

.Post-header {
  height: 60px;
  display: flex;
  flex-direction: row;
  padding: 16px;
  box-sizing: border-box;
  align-items: center;
}

.Post-header-image {
  overflow: auto;
  position: relative;
  height: 30px;
}

.Post-header-name {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-left: 20px;
  line-height: 18px;
  align-items: flex-start;
  height: 36px;
}

.Post-header-name .name {
  display: flex;
  align-items: stetch;
}

.Post-header-name a {
  color: rgb(38, 38, 38);  
  font-style: normal;
  text-decoration-line: none;
}

.Post-header-name .name a {  
  font-size: 14px;
  font-weight: 600;
}

.Post-header-name .location {
  display: flex;
  align-items: stetch;  
}

.Post-header-name .location a {
  font-size: 12px;
  font-weight: 400;
}

.Post-profile-image {
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.Post-image img {
  width: 100%;
}
