.Post-interactions {
  box-sizing: border-box;
  padding-left: 16px;
  padding-right: 16px;
}

.Post-interactions .toolbar {
  margin-top: 4px;
  height: 40px;
  display: flex;
  flex-direction: row;
}

.Post-interactions .toolbar a {
  padding: 8px;
}

.Post-interactions .toolbar a:first-child {
  margin-left: -8px;
}

.Post-interactions .like-button {
  background-image: url(https://www.instagram.com/static/bundles/sprite_core_2x.png/2f351c15a81e.png);
  background-position-x: -125px;
  background-position-y: -347px;
  background-size: 395px 371px;
}

.Post-interactions .liked-button{
  background-image: url(https://www.instagram.com/static/bundles/sprite_core_2x.png/2f351c15a81e.png);
  background-position-x: -256px;
  background-position-y: -322px;
  background-size: 395px 371px;
}

.Post-interactions .toolbar span {
  display: block;
  height: 24px;
  width: 24px;  
  line-height: 18px;
  color: rgb(0, 53, 10);
  overflow-x: hidden;
  overflow-y: hidden;
}

.Post-interactions .comment-button {
  background-image: url(https://www.instagram.com/static/bundles/sprite_core_2x.png/2f351c15a81e.png);
  background-position-x: -353px;
  background-position-y: -176px;
  background-size: 395px 371px;
}

.Post-interactions .likes-count div {
  text-align: left;
}

.Post-interactions .likes-count a {
  color: rgb(38, 38, 38);  
  font-style: normal;
  text-decoration-line: none;
  font-size: 14px;
  font-weight: 600;  
}

.Post-interactions .caption {
  text-align: left;
  font-size: 14px;
  font-weight: 400;
  padding-top: 5px;
}

.Post-interactions .caption ul {
  list-style-type: none;
  list-style-position: outside;
  list-style-image: none;
  margin: 0px;
  padding: 0px;
}

.Post-interactions .caption li:first-child {
  padding-top: 5px;
  padding-bottom: 6px;
}

.Post-interactions .caption-more {
  color: rgb(153, 153, 153);
  text-decoration-line: none;
  font-weight: 400;
  font-size: 14px;
}

.Post-interactions .caption-user {
  color: rgb(38, 38, 38);  
  font-style: normal;
  text-decoration-line: none;
  font-size: 14px;
  font-weight: 600;
  margin-right: 4.2px;
}

.Post-interactions .comment-box {
  line-height: 18px;
  padding-top: 16px;
  padding-bottom: 16px;
  display: flex;
  flex-direction: column;
  border-top-color: rgb(239, 239, 239);
  border-top-width: 1px;
  border-top-style: solid;
  box-sizing: border-box;
  margin-top: 8px;

}

.Post-interactions .comment-box form {
  display: flex;
  flex-direction: row;
}

.Post-interactions .comment-box textarea {
  background-attachment: scroll;
  display: flex;
  flex-direction: column;  
  width: 100%;
  border-width: 0px;
  white-space: pre-wrap;
  writing-mode: horizontal-tb;  
  word-wrap: break-word;
  word-spacing: 0px;
  outline-style: none;
  resize: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  max-height: 80px;
  padding: 0px;
  flex-grow: 1;
  -webkit-box-flex: 1;
}